* {
	border: none;
	border-radius: 10px;
  font-family: "SauceCodePro Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: transparent;
	background: transparent;
}
#tags {
	margin-top: 6px;
	margin-left: 12px;
	font-size: 4px;
	margin-bottom: 0px;
	border-radius: 10px;
	min-width: 0;
	background: #0e1218;
	transition: none;
}

#tags button {
	min-width: 50px;
	transition: none;
	color: #dfd2c4;
	background: transparent;
	font-size: 16px;
	border-radius: 2px;
}

#tags button.occupied {
	transition: none;
	color: #c5663d;
	background: transparent;
	font-size: 4px;
}

#tags button.focused {
	color: #cc8a5e;
    border-top: 2px solid #cc8a5e;
    border-bottom: 2px solid #cc8a5e;
}

#tags button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #ffffee;
    border-color: #ffffee;
    color: #ffffee;
}

#tags button.focused:hover {
    color: #ffffee;
}

#tags button.urgent {
        border-top: 2px solid #fb4934;
        border-bottom: 2px solid #fb4934;
}

#workspaces button {
        padding: 0 0 0 0;
        margin: 4px 3px 6px 3px;
        background-color: #0e1218;
        color: #8e9ebe;
        min-width: 36px;
}

#workspaces button.active {

        padding: 0 0 0 0;
        margin: 4px 3px 6px 3px;
        background-color: #8e9ebe;
        color: #0e1218;
        min-width: 36px;
}

#workspaces button:hover {
        background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
        background-color: #cc8a5e;
        color: #323232;
}

#workspaces button.urgent {
        background-color: #fb4934;
}

#window,
#workspaces {
        margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
        margin-left: 0;
}

.modules-right > widget:first-child > #workspaces {
        margin-right: 0;
}

#network {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #c5663d;
}

#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #926D54;
}

#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #9F9C9D;
}

#battery.charging, #battery.plugged {
	color: #ffffee;
    background-color: #9F9C9D;
}

#battery.critical:not(.charging) {
    background-color: #9F9C9D;
    color: #ffffee;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #9F9C9D;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #D3A46E;
}
#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #8E5339;
	/*background: #1A1826;*/
}

#memory {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #c5663d;
}
#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #8E5339;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #7A7E86;
}

#custom-launcher {
	font-size: 24px;
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 10px;
	transition: none;
    color: #cc8a5e;
    background: #202937;
}

#custom-power {
	font-size: 20px;
	margin-top: 6px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	/* padding-right: 5px; */
        padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #cc8a5e;
	background: #202937;
}

#custom-wallpaper {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #C9CBFF;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #E8A2AF;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #7A7E86;
}
#custom-mpc {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
	color: #ffffee;
	background: #926D54;
}
