* {
    bg-col:  #14171b;
    bg-col-light: #433825;
    border-col: #14171b;
    selected-col: #625236;
    blue: #415256;
    fg-col: #716e65;
    fg-col2: #14171b;
    grey: #d2d1cf;
    width: 600;
}

