* {
    bg-col:  #0e1218;
    bg-col-light: #84653d;
    border-col: #0e1218;
    selected-col: #c09358;
    blue: #7A7E86;
    fg-col: #9F9C9D;
    fg-col2: #0e1218;
    grey: #dfd2c4;
    width: 600;
}

