* {
    bg-col:  #0B0702;
    bg-col-light: #8b6201;
    border-col: #0B0702;
    selected-col: #cb8f01;
    blue: #F47301;
    fg-col: #CF5201;
    fg-col2: #0B0702;
    grey: #f6cc77;
    width: 600;
}

